*.pt
*.png
*.json
*.log
/plots
/build
/saves/*
*pkl
**/*__pycache__
soulsai.egg-info/
docs/_build/*
docs/_static/*

.vscode

config/config.yaml

soulsai/distributed/server/training_node/config.yaml
soulsai/distributed/client/config.yaml
soulsai/distributed/server/reverse-proxy/certbot/*
soulsai/distributed/server/reverse-proxy/nginx/*
soulsai/distributed/server/monitoring/grafana/grafana_data

test/distributed/dqn/client/config.yaml
test/distributed/dqn/server/training_node/config.yaml
test/**/config.yaml
test/test.py
test/common/grafana/grafana_data/*
# Disable all secret files. Additional guard against accidental leaking of secrets
**/*.secret
**/*.pem

# Force folder saves to be included in repo to make sure docker compose mounts saves as directory, not as file
!**.gitkeep
!/saves/checkpoint/
!/docs/img/*