*.pt
*.png
*.json
*.log
/plots
/saves
*pkl
**/*__pycache__
soulsai.egg-info/
config/config.yaml
soulsai/distributed/server/train_node/config.yaml
soulsai/distributed/client/config.yaml
test/distributed/dqn/client/config.yaml
test/distributed/dqn/server/train_node/config.yaml

# Disable all secret files. Additional guard against accidental leaking of secrets
**/*.secret
