version: "3.8"
services:
  redis:
    image: redis
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./soulsai/distributed/server/redis.conf:/usr/local/etc/redis/redis.conf
      - ./soulsai/distributed/server/redis.secret:/usr/local/etc/redis/redis.secret
    ports:
      - 6379:6379

  train_node:
    build: 
      dockerfile: ./soulsai/distributed/server/train_node/Dockerfile
      context: ./
    depends_on:
      - redis

  telemetry_node:
    build: 
      dockerfile: ./soulsai/distributed/server/telemetry_node/Dockerfile
      context: ./
    volumes:
      - ./soulsai/distributed/server/telemetry_node/tmp:/tmp/dashboard
    depends_on:
      - redis