version: "3.8"
services:
  redis:
    image: redis
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./config/redis.conf:/usr/local/etc/redis/redis.conf
      - ./config/redis.secret:/usr/local/etc/redis/redis.secret
    ports:
      - 6379:6379

  train_node:
    build: 
      dockerfile: ./soulsai/distributed/server/train_node/Dockerfile
      context: ./
    # Manually add secrets as volumes during runtime. Also add save directory to make persistent saves on crash
    volumes:
      - ./config/redis.secret:/home/SoulsAI/config/redis.secret
      - ./soulsai/distributed/server/train_node:/home/SoulsAI/soulsai/distributed/server/train_node
    depends_on:
      - redis
    user: "1000"

  telemetry_node:
    build: 
      dockerfile: ./soulsai/distributed/server/telemetry_node/Dockerfile
      context: ./
    # Manually add secrets as volumes during runtime
    volumes:
      - ./config/redis.secret:/home/SoulsAI/config/redis.secret
      - ./config/gsa.secret:/home/SoulsAI/config/gsa.secret
      - ./soulsai/distributed/server/telemetry_node:/home/SoulsAI/soulsai/distributed/server/telemetry_node
    depends_on:
      - redis
    user: "1000"