version: "3.8"
services:
  redis:
    image: redis
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./soulsai/distributed/server/redis.conf:/usr/local/etc/redis/redis.conf
      - ./soulsai/distributed/server/redis_secret.conf:/usr/local/etc/redis/redis_secret.conf

    ports:
      - 6379:6379

  train_node:
    build: 
      dockerfile: ./soulsai/distributed/server/Dockerfile
      context: ./
    depends_on:
      - redis