version: "3.8"

services:
  redis:
    image: redis
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./config/redis.conf:/usr/local/etc/redis/redis.conf
    secrets:
      - redis_secret
    ports:
      - 6379:6379
    networks:
      - train_server_net

  training_node:
    build:
      dockerfile: ./soulsai/distributed/server/training_node/Dockerfile
      context: ./
    # Manually add secrets as volumes during runtime. Also add save directory to make persistent saves on crash
    volumes:
      - ./config/:/home/SoulsAI/config/
      - ./soulsai:/home/SoulsAI/soulsai
      - ./saves/:/home/SoulsAI/saves
    secrets:
      - redis_secret
    depends_on:
      - redis
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    user: "1000"
    networks:
      - monitoring_net
      - train_server_net

  telemetry_node:
    build:
      dockerfile: ./soulsai/distributed/server/telemetry_node/Dockerfile
      context: ./
    # Manually add secrets as volumes during runtime
    volumes:
      - ./config/:/home/SoulsAI/config/
      - ./soulsai:/home/SoulsAI/soulsai
      - ./saves:/home/SoulsAI/saves
      - /etc/passwd:/etc/passwd:ro # Workaround for WandB pwd.getpwuid(os.getuid())[0] error
    secrets:
      - redis_secret
      - wandb_api_key
    depends_on:
      - redis
    user: "1000"
    networks:
      - monitoring_net
      - train_server_net

networks:
  monitoring_net:
    external: True
    name: server
  train_server_net:
