# Create config.yaml file to overwrite default settings

# General settings
loglevel: info
device: "cuda"

# Redis settings
redis_address: "localhost"

local:

# Environment information
env:
  name: SoulsGymIudex-v0
  kwargs:
    game_speed: 1.
  obs_shape: [74]
  n_actions: 20
  wrappers:
    IudexObservationWrapper:
      kwargs:

max_env_steps: null
gamma: 0.99

# Algorithm choice
algorithm: "DQN"

# PPO settings
ppo:
  n_clients: 1
  n_steps: 2048
  actor_net:
    type: "PPOActor"
    kwargs:
      input_dims: 74
      output_dims: 20
      layer_dims: 64
  critic_net:
    type: "PPOCritic"
    kwargs:
      input_dims: 74
      layer_dims: 64
  vf_coef: 0.5
  max_grad_norm: 0.5
  clip_range: 0.2
  train_epochs: 10
  minibatch_size: 64
  actor_lr: 0.0003
  critic_lr: 0.0003
  gae_lambda: 0.95
  client_sync_timeout: 20

# DQN parameters
dqn:
  variant: "vanilla"  # [vanilla, distributional]
  lr: 0.001
  eps_max: [0.5, 0.1]
  eps_min: [0.1, 0.01]
  eps_steps: [1_000_000, 1_000_000]
  grad_clip: 5.
  q_clip: 200
  buffer_size: 100_000
  batch_size: 64
  train_epochs: 25
  update_samples: 25
  fill_buffer: False
  multistep: 4
  network:
    type: "DQN"
    kwargs:
      input_dims: 74
      output_dims: 20
      layer_dims: 128
  noise:
    type: "UniformDiscreteNoise"
    kwargs:
      size_n: 20
  replay_buffer:
    type: "ReplayBuffer"
    kwargs:
  action_masking: True
  min_samples: null
  tau: 0.05  # Optional, for target network updates
  max_model_delay: 10

# Training node settings
checkpoint:
  save: True
  epochs: 100  # Checkpoint every 100th iteration
  save_buffer: False
  load: False
  load_buffer: False
  load_config: False

# Telemetry node settings
telemetry:
  update_interval: 5
  save_best_interval: 5
  moving_average: 20

# Monitoring
monitoring:
  file_storage:
    path: "/home/SoulsAI/saves"
    plot: True
  grafana: True
  prometheus: True
  wandb:
    project: "soulsai_iudex"
    entity: "amacati"
    group: "state_obs"
    save_dir: "/home/SoulsAI/saves"

# Client settings
max_episodes: -1  # -1 for infinite runs
enable_interrupt: True
step_delay: 0

watchdog:
  enable: False
  minimum_samples: -1