# Create config.yaml file to overwrite default settings

# General settings
loglevel: info
device: "cpu"

# Redis settings
redis_address: "localhost"

# Environment information
env:
  name: SoulsGymIudex-v0
  kwargs:
    game_speed: 1.
  state_shape: [74]
  n_actions: 20
  wrappers:

gamma: 0.99
max_env_steps: null

# Algorithm choice
algorithm: "DQN"

# PPO settings
ppo:
  n_clients: 1
  n_steps: 2048
  actor_net_type: "PPOActor"
  actor_net_kwargs:
    input_dims: 74
    output_dims: 20
    layer_dims: 64
  critic_net_type: "PPOCritic"
  critic_net_kwargs:
    input_dims: 74
    layer_dims: 64
  vf_coef: 0.5
  max_grad_norm: 0.5
  clip_range: 0.2
  train_epochs: 10
  minibatch_size: 64
  actor_lr: 0.0003
  critic_lr: 0.0003
  gae_lambda: 0.95
  client_sync_timeout: 20

# DQN parameters
dqn:
  variant: "vanilla"  # [vanilla, distributional]
  lr: 0.001
  eps_max: [0.1, 0.1, 0.05]
  eps_min: [0.1, 0.05, 0.01]
  eps_steps: [500, 500, 500]
  eps_samples: 500
  grad_clip: 5.
  q_clip: 200
  buffer_size: 100_000
  batch_size: 64
  train_epochs: 25
  update_samples: 25
  fill_buffer: False
  multistep: 4
  network_type: "DQN"
  network_kwargs:
    input_dims: 74
    output_dims: 20
    layer_dims: 128
  noise: "UniformDiscreteNoise"
  noise_kwargs:
    size_n: 20
  replay_buffer: "ReplayBuffer"
  replay_buffer_kwargs:
  action_masking: True
  normalizer:
  normalizer_kwargs:
  min_samples: null
  tau: 0.05  # Optional, for target network updates

# Training node settings
checkpoint:
  epochs: 100  # Checkpoint every 100th iteration
  save_buffer: False
  load: False
  load_buffer: False
  load_config: False

# Telemetry node settings
telemetry:
  update_interval: 5
  save_best_interval: 5
  moving_average: 20

# Monitoring
monitoring:
  enable: True

# Client settings
max_episodes: -1  # -1 for infinite runs
enable_interrupt: True
step_delay: 0

watchdog:
  enable: False
  minimum_samples: -1